{% load static %}

{% url 'pages:about-us' as about_us_url%}
{% url 'pages:contact-us' as contact_us_url %}

<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3>
                <img src="{% static 'img/logo.png' %}" alt="Vishmed Company Logo" style="width: 100px; height: 100px;">
                <a href="#">Vish<span>Medicals</span></a>
            </h3>
            <p class="links">
                <a href="{% url 'products:home' %}">Home</a>
                <strong>&nbsp; · </strong>
                <a href="{{about_us_url}}">About</a><strong> · </strong>
                <a href="{{contact_us_url}}">Contact</a><strong> · </strong></p>
            <p class="company-name">VishMed © 2020</p>
            <p class="company-name">Project By: 
                <a href="https://eldarn.com/">DonDevs Developers</a>
            </p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">86/6, Meemanagoda Rd</span> Kalalgoda, Pannipitiya 
                </p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> 
                    <a href="tel:+94-775-794-833">+94-775-794-833</a>
                </p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="mailto:Shirantha.vishmed@gmail.com " target="_blank">
                    Shirantha.vishmed@gmail.com 
                </a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>About the company</h4>
            <p> We’re a company that focusses on manufacturing and distributing high-quality medical goods </p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>