
    <div class="col-12 col-md-6 col-lg-4 ml-auto msg-list-custom">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }} {% endif %}  position-fixed alert-dismissible fade show"
               role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        {% endfor %}
        {% endif %}
    </div>